<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>電子發票地圖 | Powered by TGOS MAP</title>
    <script type="text/javascript" src="http://api.tgos.nat.gov.tw/TGOS_API/tgos?ver=2&AppID=Tw7cFZt2kGy6wTmw3sIekPBqrEIY0lreYgSFa4bcfVYojDkig/xlBA==&APIKey=cGEErDNy5yN/1fQ0vyTOZrghjE+jIU6u5ipI0qIhBu7EFQSTnV2gxTwzUff8quRx097rfBNjje7sHbyWWbX99SCpMT9K1S+ijwN5Jrs+jJzZFUp+9EVKc+Md9vHCphSN77s9oYXRwyC2rr0kKonjqe6z9cQZFV2nm4W8FdZX1hqhUr2C2OqLMw51SmZS8VElDWGVu4d/nUHmy/XbYMNC8FZY+VgxKPrw+IlhQL1v6dUdtZsNwMm1Yn57MG8mOf3dTP1pLtUlBXQ92utMV378r6ooc6wEEL1S7wtnUQn1GR5tD/i5zllGc2QwLs1y2zqygqqWAvh6QH0vhiWb9Xvsie423CKH+pM/Lzo/aypb6owVgYv9oGJK+uGnZ2jNkxSWtjI4K6WNWsQ=" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/test_data.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/simple-sidebar.css" rel="stylesheet">
    <link href="/static/css/hamburger.css" rel="stylesheet">
    <link href="/static/css/map.css" rel="stylesheet">
</style>
</head>
<!-- TGOS MAP processing javascript -->
<script type="text/javascript" src="/static/js/tgos.js"></script>

<body style="margin: 0px" onload="InitWnd();">    

<div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="javascript: show_map_div();">電子發票地圖</a>
                </li>
                <li>
                    <a href="javascript: show_all_einvoice();">發票清單</a>
                </li>
                <li>
                    <a href="javascript: show_all_shop();">商家清單</a>
                </li>
                <li>
                    <a href="javascript: accounting();">記帳</a>
                </li>
                <li>
                    <a href="javascript: statistics();">統計資料</a>
                </li>
                <li>
                    　
                </li>
                <li>
                    <a href="http://einvoice.kuotech.cc/" onClick="return confirm('確定要登出?')">登出</a>
                </li>
            </ul>
        </div>
        <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
        </button>
        <div id="TGMap"></div>
        <div id="einvoice_detail"></div>
        <div id="main_text"></div>
        <div id="detail"></div>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Used for Pie Chart shoing -->
    <script src="/static/js/amcharts.js"></script>
    <script src="/static/js/pie.js"></script>
    <script src="/static/js/light.js"></script>

    <!-- einvoice processing JavaScript -->
    <script src="/static/js/einvoice.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    // press hamburger to hide or show sidebar
    $(document).ready(function () {
      var trigger = $('.hamburger'),
          overlay = $('.overlay'),
         isClosed = false;

        trigger.click(function () {
          hamburger_cross();      
        });

        function hamburger_cross() {

          if (isClosed == true) {          
            overlay.hide();
            trigger.removeClass('is-open');
            trigger.addClass('is-closed');
            isClosed = false;
          } else {   
            overlay.show();
            trigger.removeClass('is-closed');
            trigger.addClass('is-open');
            isClosed = true;
          }
      }
      
      $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
      });  
    });
    </script>

</body>

</html>