<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>電子發票地圖</title>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
 	<script src="/static/js/bootstrap.min.js"></script>
<style>
html { 
	background: url("/static/einvoice_background.jpg") no-repeat center top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	font-family:"微軟正黑體";
}
#container { 
  padding-top:15px; 
  padding-left:100px; 
  padding-right:30px; 
  padding-bottom:40px; 
  border: 1px solid 000000; 
}
</style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">電子發票地圖</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/demo">DEMO</a></li>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">搜尋</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#myModal">About us</a></li>
        <li><a href="#" data-toggle="modal" data-target="#ContactModal">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal: About -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">關於我們</h4>
      </div>
      <div class="modal-body">
      電子發票地圖為由一群台大資工系同學所創作。
        <h3>團隊成員</h3>
	<p><font size="+1" color="blue">郭昱廷</font><br />
	組長，台大資工系畢。專長為適地性服務、無線網路通訊，喜歡思考、做事俐落，好學且擅於團隊管理。<br />
	<font color="#226A33">負責項目：TGOS MAP API、記帳、商店地址GPS 轉換</font></p>

	<p><font size="+1" color="blue">林勁甫</font><br />
	台大資工畢，目前就讀於台大網媒所。研究領域為圖像辨識，希望能在大量資料中分析出有用的知識，讓之後的生活更加方便。<br />
	<font color="#226A33">負責項目：Django、python與web溝通</font></p>

	<p><font size="+1" color="blue">柯育銘</font><br />
	台大資工系畢，目前就讀台大資工所。研究領域為資訊安全。<br />
	<font color="#226A33">負責項目：電子發票API、資料parsing</font></p>

	<p><font size="+1" color="blue">邱顯鈞</font><br />
	台大資工系畢，目前就讀台大資工所。研究領域為機器學習，相信資料可以改變世界，未來是掌握知識的人主導，而如何從資料汲取出知識就是我的工作。<br />
	<font color="#226A33">負責項目：clustering、登入頁面設計</font></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Contact -->
<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contact</h4>
      </div>
      <div class="modal-body">
      <h2>github</h2>
      <a href="https://github.com/s88239/einvoice-map" target="_blank">https://github.com/s88239/einvoice-map</a>
      <h2>email</h2>
      b00902098@ntu.edu.tw
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
	<table align="center">
		<tr>
			<td>
				<img src="/static/title.png" height="200px"/>
			</td>
			<td id="container">
				<form name="User" method="post" action="/TGOS/" >
					{% csrf_token %}
					<label class="control-label" for="focusedInput">手機條碼</label>
					<input name="account" class="form-control" id="focusedInput" type="text" placeholder="請輸入手機條碼" size="50">
					<label class="control-label" for="inputWarning">驗證碼</label>
					<input name="password" type="password" class="form-control" id="inputWarning">
					<button type="submit" class="btn btn-default">登入</button>
				</form>
			</td>
		</tr>
	</table>
</div>

</body>
</html>
