body {
    font-family:"Arial","微軟正黑體";
}
#TGMap {
	position: absolute;
	width:100vw;
	height:100vh;
}
#main_text {
	background: #E7CDFF;
	padding-top:15px;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:40px;
	border: 1px solid 000000;
	height: 100vh;
	display:none;
	overflow-y: auto;
}
#detail {
	z-index:900;
	position: relative;
	background-color: #FFFF93;
	width: 80vw;
	height: 94vh;
	padding-left:50px;
	padding-right:50px;
	top: 3vh;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	display:none;
	overflow-y: auto;
}
#einvoice_detail {
	position: relative;
	background-color: #2b2b2b;
	height: 100vh;
	padding-top: 10px;
	padding-left:100px;
	padding-right:100px;
	display:none;
	overflow-y: auto;
}

/************* Used for table *************/
.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

/************* Used for tiltle sentence *************/
.title
{
	margin-bottom: 2.5em;
}

.title h2
{
	font-size: 3em;
	font-weight: bold;
	color: rgba(0,0,0,0.8);
}